body {
    font-family: Georgia, 'Times New Roman';
    margin: 20px;
  }
  
  .task {
    margin: 10px ;
    padding: 10px;

  }
  
  .task.important {
    background-color: red;
  }
  
  .task.completed {
    text-decoration: line-through;
  }
  
  button.delete {
    margin-left: 10px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
  }

  button.completeButton {
    margin-right: 10px;
    background-color: grey ;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
  }

